# ignore node_modules and yarn.lock
node_modules/
yarn.lock

# ignore gitignore itself
.gitignore

# ignore IDE config files
.idea/
.vscode/

# ignore build artifacts
build/

# ignore Docker stuff
docker-compose.yml
Dockerfile